.chat_window {
    border: 1px solid #ddd;
}

.chat_window #message_box{
    height: 400px;
    overflow: auto;
}

#message_box > div{
    position: relative;
    bottom: 0;
}
.grey {
    background-color: #f7f7f9;
}
.padding{
    padding: 10px;
    overflow: hidden;
}